<main>
  <section>
    <div class="center">
      <div class="frame">
        <h1>Mentions Légales</h1>
        <h2 id="conditions-utilisation">Conditions d'utilisation</h2>
        <h3>Création de compte</h3>
        <p>
          Vous pouvez créer un compte seulement si :
        </p>
        <ul>
          <li>Vous êtes majeur (18 ans et +) et disposez de vos droits civiques ;</li>
          <li>Vous ne vous créer qu'un seul compte ;</li>
          <li>Votre compte doit afficher clairement votre prénom et votre nom de famille ;</li>
          <li>Vous ne publiez pas de contenu illégal ;</li>
          <li>Vous respectez les lois concernant la propriété intellectuelle, notamment pour la publication d'image ;</li>
        </ul>
        <p>L'équipe de Revendique.com se réserve le droit de fermer votre compte quelque soit le motif.
          Si c'est le cas, vous n'êtes pas autorisé à recréer un compte sauf si dérogation explicite.
        </p>
        <h3>Publication d'une revendication</h3>
        <p>
          Une revendication doit répondre aux critères suivants pour être sur le site :
        </p>
        <ul>
          <li>Ne pas contenir de propos insultant ou irrespectueux envers autrui.</li>
          <li>Ne pas tenir de propos considéré comme illégal</li>
          <li>Ne pas porter atteinte à la liberté d'autrui, et donc à sa propriété.</li>
        </ul>
        <p>Mais aussi, dans un esprit de clarté :</p>
        <ul>
          <li>Avoir un titre à l'objet</li>
          <li>Ne traiter que d'un seul sujet (sinon déposer une revendication par sujet)</li>
          <li>Constater qu'un seul problème: celui qui concerne la revendication</li>
          <li>La revendication ne doit concerner que le problème constaté</li>
          <li>La revendication doit contenir un objectif et non un but: un objectif est quantifiable alors qu'un but
            n'est qu'une direction.</li>
        </ul>
        <p>Ces contraintes sont là pour vous permettre de dire clairement ce que vous revendiquez et vous aider à
          rencontrer les interlocuteurs qui peuvent vous permettre d'obtenir vos revendications.</p>


        <h2>Licence des images</h2>
        <p>Les images du sites sont toutes soumises aux contrôles de droits d'utilisation. Elles viennent des sources
          suivantes :</p>
        <ul>
          <li><a href="https://pixabay.com/fr/service/license/">Pixabay</a></li>
          <li><a href="https://www.flaticon.com">Flaticon</a></li>
        </ul>
        <h3>Flaticon licenses :</h3>
        <div>Icons made by
          <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a>
          from
          <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
          is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC
            3.0 BY</a>
        </div>
        <div>Icons made by
          <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
          is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC
            3.0 BY</a>
        </div>
      </div>
    </div>
  </section>
</main>