<main>
  <section>
    <div class="center">
      <div class="frame">
        <h1>Mentions Légales</h1>
        <h2>Licence des images</h2>
        <p>Les images du sites sont toutes soumises aux contrôles de droits d'utilisation. Elles viennent des sources
          suivantes :</p>
        <ul>
          <li><a href="https://pixabay.com/fr/service/license/">Pixabay</a></li>
          <li><a href="https://www.flaticon.com">Flaticon</a></li>
        </ul>
        <h3>Flaticon licenses :</h3>
        <div>Icons made by
          <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a>
          from
          <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
          is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC
            3.0 BY</a>
        </div>
        <div>Icons made by
          <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
          is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC
            3.0 BY</a>
        </div>
      </div>
    </div>
  </section>
</main>