<form [formGroup]="f" (ngSubmit)="onSubmit()">
  <label>
    <div>Prénom et Nom*</div>
    <input type="text" name="displayname" formControlName="displayName">
  </label>

  <label *ngIf="!user.fromSocialLogin">
    <p>Optionnellement, vous pouvez ajouter un lien sur une photo reflétant votre personne.</p>
    <div>Photo URL</div>
    <input type="text" name="photoURL" formControlName="photoURL">
    <div class="center">
      <img *ngIf="this.f.value.photoURL" [src]="this.f.value.photoURL">
    </div>
  </label>

  <div class="submit">
    <button type="submit" class="submit">Mettre à jour le compte</button>
  </div>
</form>