<main>
  <section>
    <h1>Je crée ma revendication</h1>

    <form [formGroup]="f" (ngSubmit)="onSubmit()">
      <label>
        <div class="label">Titre*</div>
        <input type="text" name="title" formControlName="title" placeholder="Titre de ma revendication">
      </label>
      <label>
        <div class="label">Constat*</div>
        <textarea name="constat" formControlName="constat" rows="10" placeholder="Je décris ce qui ne va pas."></textarea>
        <div class="help">
          <fa-icon [icon]=faInfoCircle></fa-icon>
          Pour une revendication précise, je fais d'abord le constat d'une situation qui ne me convient pas.
        </div>
      </label>
      <label>
        <div class="label">Contenu*</div>
        <textarea name="content" formControlName="content" rows="10" placeholder="Entrer ici librement le contenu de votre revendication, qui fait suite logique à votre constat."></textarea>
        <div class="help">
          <fa-icon [icon]=faInfoCircle></fa-icon>
          Et ensuite, je revendique un droit, une solution pour résoudre la situation décrite dans le
          constat.
        </div>
      </label>
      <label>
        <div class="label">Categorie*</div>
        <select formControlName="category">
          <option value="travail">Travail</option>
          <option value="politique">Politique</option>
          <option value="consommation">Consommation</option>
          <option value="autre">Autre</option>
        </select>
      </label>
      <label>
        <div class="label">Image d'illustration</div>
        <input type="text" name="photo" formControlName="photo" placeholder="URL d'image sur internet">
        <div class="help">
          <fa-icon [icon]=faInfoCircle></fa-icon>
          Optionnellement, vous pouvez specifier une image d'illustration.
          Par défaut, nous mettons une illustration d'un tableau célèbre de Delacroix.
        </div>
        <div class="photo">
          <img [src]="f.value.photo">
        </div>
      </label>
      <div class="error-block">
        <div class="error-incorrect" *ngIf="errorCode !== undefined">
          <span *ngIf="errorCode === ERROR.UNKNOWN">Erreur technique. Réessayer ultérieurement.</span>
        </div>
      </div>

      <div class="submit big">
        <button type="submit" [disabled]="f.invalid">Créer votre revendication</button>
      </div>
    </form>
  </section>
</main>