@import 'variables';

:host {
    display: block;
    background: $header-bgcolor;
}

header {
    display: flex;
    margin: 0px auto;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: $maxWidth;
    height: 3rem;
}

.logo {
    padding: 0 1rem;
    font-weight: normal;
    font-size: 2rem;
    img {
        position: relative;
        top: 0.2rem;
        width: 1.5rem;

    }
    a {
        text-decoration: none;
    }
    .name {
        color: $header-color;
    }
    .dot {
        color: $header-color;
    }
    .com {
        color: $header-color-relief;
    }
}

.primary-menu {
    display: flex;
    a {
        font-size: 1rem;
        padding: 0 0.5rem;
        color: $color;
        text-decoration: none;
        white-space: nowrap;
        &:hover {
            color: $header-color-small-relief;
        }
        &:active, &.active {
            color: $header-color-relief;
        }
    }
}

.utilities {
    padding: 0 1rem;
    white-space: nowrap;
    color: white;
    >.button {
        border: 1px solid white;
    }
}

.buttons {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    min-width: 20rem;
}

.activation {
    padding-top: 1rem;
}

.section {
    button {
        width: 100%;
    }
}

.user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    .photo-id {
        width: 6rem;
    }
    .user-info {
        .display-name {
            font-weight: bold;
        }
        .mail {
            font-size: 0.8rem;
        }
    }
}

@media only screen and (max-width: 960px) {
    /* For mobile phones: */
    .logo {
        font-size: 1.5rem;
    }
}

.mobile {
    nav {
        background-color: white;
    }
    fa-icon {
        padding: 0 1rem;
        font-size: 1.5rem;
        color: $color;
        cursor: pointer;
    }
    .primary-mobile-menu {
        display: none;
        &.open {
            display: block;
            position: fixed;
            z-index: 1000;
            width: 100%;
            top: 3rem;
            left: 0;
            a {
                display: block;
                font-size: 1rem;
                font-weight: bold;
                padding: 1rem;
                color: black;
                text-decoration: none;
                white-space: nowrap;
                background-color: $color;
                &:hover {
                    color: transparentize(black, 0.3);
                    background: hsl(240, 100%, 80%);
                }
                &.important {
                    background-color: hsl(120, 100%, 90%);
                }
            }
            .separator {
                display: block;
                height: 1px;
                background-color: black;
            }
        }
    }
    .buttons {
        display: flex;
        justify-content: space-evenly;
    }
    .photo-id {
        width: 3rem;
    }
    .user {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0.5rem;
        .user-info {
            .display-name {
                font-weight: bold;
            }
        }
    }

    
}