<header *ngIf="resp.desktop">
  <div class="logo">
    <a routerLink="">
      <span class="name">Revendique</span>
      <span class="dot">.</span>
      <span class="com">com</span>
    </a>
  </div>
  <nav class="primary-menu">
    <a routerLink="creer-revendication" class="href">Créer une revendication</a>
    <a routerLink="observatoire" class="href">Observatoire</a>
    <a routerLink="presentation" class="href">Presentation</a>
  </nav>
  <nav class="utilities">
    <a class="button" routerLink="login" *ngIf="!user.isLogged">Mon compte</a>
    <app-popup *ngIf="user.isLogged" [label]="user.email">
      <div class="buttons">
        <button routerLink="/mon-compte">Information</button>
        <button class="secondary" (click)="user.logout()">Déconnexion</button>
      </div>
    </app-popup>
  </nav>
</header>
<header class="mobile" *ngIf="resp.mobile">
  <div class="logo">
    <a routerLink="">
      <span class="name">Revendique</span>
      <span class="dot">.</span>
      <span class="com">com</span>
    </a>
  </div>
  <fa-icon (click)="toggleMenu()" class="mobile" [icon]="faBars"></fa-icon>
  <nav (click)="closeMenu()" [class.open]="isMenuOpen" class="primary-mobile-menu">
    <a *ngIf="!user.isLogged" routerLink="login">Mon compte</a>

    <div class="center" *ngIf="user.isLogged">
      <a class="user">{{user.email}} </a>

      <div class="buttons">
        <button routerLink="/mon-compte">Manage</button>
        <button class="secondary" (click)="user.logout()">Signout</button>
      </div>

    </div>
    <div class="separator"></div>
    <a routerLink="creer-revendication">Créer une revendication</a>
    <a routerLink="observatoire">Observatoire</a>
    <a routerLink="presentation">Presentation</a>
    <div class="separator"></div>
  </nav>
</header>