<header *ngIf="resp.desktop">
  <div class="logo">
    <a routerLink="">
      <span class="name">Revendique</span>
      <span class="dot">.</span>
      <span class="com">com</span>
    </a>
  </div>
  <nav class="primary-menu">
    <a routerLink="creer-revendication" class="href">Créer une revendication</a>
    <a routerLink="observatoire" class="href">Observatoire</a>
    <a routerLink="presentation" class="href">Presentation</a>
  </nav>
  <nav class="utilities">
    <app-user-management></app-user-management>
  </nav>
</header>
<header class="mobile" *ngIf="resp.mobile">
  <div class="logo"><span class="name">Revendique</span><span class="dot">.</span><span class="com">com</span></div>
  <fa-icon (click)="toggleMenu()" class="mobile" [icon]="faBars"></fa-icon>
  <nav [class.open]="isMenuOpen" class="primary-mobile-menu">
    <a (click)="closeMenu()" href="#my-account" class="button">Mon compte</a>
    <div class="separator"></div>
    <a (click)="closeMenu()" routerLink="creer-revendication">Créer une revendication</a>
    <a (click)="closeMenu()" routerLink="observatoire">Observatoire</a>
    <a (click)="closeMenu()" routerLink="presentation">Presentation</a>
  </nav>
</header>