<header *ngIf="resp.desktop">
  <div class="logo">
    <a routerLink="">
      <img src="../../../assets/protest.svg" alt="Revendique Logo">
      <span class="name">Revendique</span>
      <span class="dot">.</span>
      <span class="com">com</span>
    </a>
  </div>
  <nav class="primary-menu">
    <a routerLink="creer-revendication" routerLinkActive="active">Créer une revendication</a>
    <a routerLink="indicateurs" routerLinkActive="active">Indicateurs</a>
    <a routerLink="presentation" routerLinkActive="active">Présentation</a>
  </nav>
  <nav class="utilities">
    <a class="button secondary" [routerLink]="user.routes.url.login" *ngIf="!user.isLogged">Mon compte</a>
    <app-popup *ngIf="user.isLogged" [label]="user.email" (open)="refresh()">
      <div class="user">
        <img *ngIf="user.photoURL !== null" class="photo-id" [src]="user.photoURL">
        <div class="user-info">
          <div class="display-name">{{user.displayName}} </div>
        </div>
      </div>

      <div class="buttons">
        <button class="secondary" routerLink="/mon-compte">Mon profile</button>
        <button class="secondary" (click)="user.logout()">Déconnexion</button>
      </div>
      <div *ngIf="!user.isVerified" class="center section activation">
        <button (click)="user.activate()">Activer le compte</button>
      </div>
      <div *ngIf="user.isVerified" class="center section">
        <button routerLink="/mes-revendications">Gérer mes revendications</button>
      </div>
    </app-popup>
  </nav>
</header>
<header class="mobile" *ngIf="resp.mobile">
  <div class="logo">
    <a routerLink="">
      <img src="../../../assets/protest.svg" alt="Revendique Logo">
      <span class="name">Revendique</span>
      <span class="dot">.</span>
      <span class="com">com</span>
    </a>
  </div>
  <fa-icon (click)="toggleMenu(); refresh();" class="mobile" [icon]="faBars"></fa-icon>
  <nav (click)="closeMenu()" [class.open]="isMenuOpen" class="primary-mobile-menu">
    <a *ngIf="!user.isLogged" [routerLink]="user.routes.url.login">Mon compte</a>

    <div class="center" *ngIf="user.isLogged">
      <div class="user">
        <img *ngIf="user.photoURL !== null" class="photo-id" [src]="user.photoURL">
        <div class="user-info">
          <div class="display-name">{{user.displayName}} </div>
          <div class="mail">{{user.email}} </div>
        </div>
      </div>

      <div *ngIf="!user.isVerified" class="center">
        <button class="important" (click)="user.activate()">Activer le compte</button>
      </div>
      <div class="buttons">
        <button class="secondary" routerLink="/mon-compte">Profile</button>
        <button class="secondary" (click)="user.logout()">Déconnexion</button>
      </div>

    </div>
    <div *ngIf="user.isLogged">
      <div class="separator"></div>
      <a class="important" routerLink="mes-revendications">&gt; Gérer mes revendications</a>
    </div>
    <div class="separator"></div>
    <a routerLink="/creer-revendication">Créer une revendication</a>
    <a routerLink="/indicateurs">Indicateurs</a>
    <a routerLink="/presentation">Presentation</a>
    <div class="separator"></div>
    <div *ngIf="user.email === 'jlguenego@gmail.com'">
      <a routerLink="test">Test</a>
      <div class="separator"></div>
    </div>

  </nav>
</header>