:host {
    font-size: 0.8rem;
    &.ng-invalid.ng-touched {
        input {
            background-color: hsl(0, 100%, 90%);
        }
    }
    &.ng-valid.ng-touched {
        input {
            background-color: hsl(120, 100%, 90%);
        }
    }
}