<main>
  <section *ngIf="r !== undefined">
    <h1>Revendication: {{r.title}}</h1>

    <div class="photo">
      <img [src]="photo">
    </div>



    <p>
      {{r.author}} - publié le {{r.createdAt.toDate() | date : 'medium'}}
    </p>
    <p class="buttons" *ngIf="isMyRevendication">
      <button [routerLink]="editLink">Editer</button><button class="danger" (click)="delete()">Supprimer</button>
    </p>

    <h2>Contenu</h2>


    <p [innerHtml]="r.content | text2html"></p>



    <h2>Catégories</h2>
    {{r.category}}
  </section>
</main>