<main *ngIf="r !== undefined">
  <section>
    <h1>Revendication: {{r.title}}</h1>

    <p class="buttons">
      <span class="like">{{r.likes$ | async }} soutiens</span>
      <span class="like">{{r.dislikes$ | async }} opposants</span>
    </p>
    <p class="buttons">
      <button [disabled]="didILiked" (click)="rev.like(r)">
        <fa-icon [icon]="faThumbsUp"></fa-icon> Je soutiens !
      </button>
      <button [disabled]="didIDisliked" (click)="rev.dislike(r)">
        <fa-icon [icon]="faThumbsDown"></fa-icon> Je m'oppose !
      </button>
    </p>

    <div class="photo">
      <img [src]="photo">
    </div>

    <p>
      {{r.author}} - publié le {{r.createdAt.toDate() | date : 'medium'}}
    </p>
    <h2>Constat</h2>
    <p [innerHtml]="r.constat | text2html"></p>
    <h2>Contenu</h2>
    <p [innerHtml]="r.content | text2html"></p>
    <h2>Catégories</h2>
    <p>
      {{r.category}}
    </p>
    <h2>Partager</h2>
    <p>
      <button (click)="rev.share(r)"><fa-icon [icon]="faFacebook"></fa-icon> Partager sur Facebook</button>
    </p>
    <h2 *ngIf="isMyRevendication">Edition</h2>
    <p class="buttons" *ngIf="isMyRevendication">
      <button [routerLink]="editLink">Editer ma revendication</button>
    </p>
  </section>
</main>