@import 'variables';

.photo {
    padding: 2rem 1rem;
    text-align: center;
    img {
        width: 100%;
    }
}

.buttons {
    display: flex;
    justify-content: space-around;
    background-color: #eee;
}