@import 'variables';

.photo {
    padding: 1rem 1rem;
    text-align: center;
    img {
        width: 40%;
    }
}

.buttons {
    display: flex;
    justify-content: space-around;
    background-color: #eee;
    font-weight: bold;
    button {
        padding: 0.5rem 0.8rem;
    }
}

.like {
    white-space: nowrap;
}