@import 'variables';

$radius: 1rem;

.overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: hsla(0, 0%, 50%, 0.5);
}

.panel {
    display: block;
    max-width: 30rem;
    width: 90%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: $radius;
}

.header {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    padding: 0.5rem;
    color: $color;
    border-radius: $radius $radius 0 0;
    background: $dialog-bgcolor;
}

.title {
    flex-grow: 1;
    display: block;
    text-align: center;
}

.close {
    flex-grow: 0;
    padding: 0 0.5rem;
    cursor: pointer;
}

.content {
    padding: 2rem 1rem;
}