@import 'variables';

button {
    color: $color;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border: 1px solid $color;
    border-radius: 6px;
    background: transparent;
    &:hover {
        background: hsla(0, 0%, 80%, 0.5);
    }
}