<button *ngIf="!isLogged" (click)="openSigninDialog()">Mon compte</button>
<div *ngIf="isLogged" class="user">{{firstname}} - {{lastname}}</div>
<app-dialog title="Se connecter" *ngIf="isSigninDialogOpen" (close)="closeSigninDialog()">
  <form>
    <div class="center"><button class="shadow">Créer un compte</button></div>
    
    <app-divider>ou</app-divider>
    <a href="#">Connect with Google</a>
    <a href="#">Connect with Facebook</a>
    <app-divider>ou</app-divider>
    <input type="email" name="email">
    <input type="password" name="password">
    <button>Connexion</button>
  </form>
</app-dialog>