<main>
  <section>
    <h1>
      Qui sommes nous ?
    </h1>
    <p>
      blablabla (JPO, on est qui au fait ??? juste 2 abrutis de gilets jaunes...)
    </p>
  </section>
  <section class="dark">
    <h1>
      Manifeste « Laissez faire les Français »
    </h1>

    <p>
      Le mouvement des Gilets Jaunes a démontré que :
    </p>
    <ol>
      <li>d'une part les Français avaient des revendications hétéroclites et que </li>
      <li>d'autre part les politiques étaient totalement déconnectés de ces réalités.</li>
    </ol>
    <p>
      Le site revendique.com a pour ambition d’aider les Français à <b>mieux exprimer leurs
          revendications afin de se faire entendre plus facilement</b>. Si ce paris fonctionne, alors il
      peut être une fantastique opportunité de ré-organisation pour la société française pour en
      finir avec une organisation verticale et centralisatrice en partant directement du besoin de
      chaque individu.
    </p>
    <p>
      En donnant la possibilité à chaque Français d’exprimer ses besoins sous forme de
      revendications, <b>nous faisons le paris d’un modèle d’organisation plus efficace, car
          directement issu du terrain et qui responsabilise chacun</b>.
    </p>
    <p>
      Puisque les Français tiennent fortement à leur « modèle social » mais que l’état n’est plus
      en mesure de financer ce dernier, nous devons donner la possibilité à chacun de
      s’organiser, en s’appuyant sur les décideurs et sur la communauté.
    </p>
    <p>
      <b>Mais un site internet comme revendiquer.com n’est qu’un outil. </b>Pour qu’il tienne sa
      promesse, nous appelons à trois changements majeurs :
    </p>

    <ul>
      <li>Sur le plan politique, nous militons pour une implémentation des modes de démocratie
        directe de type RIC (Référendum d’initiative citoyenne) ;</li>
      <li>Sur le plan syndical, il faut que les Français se syndiquent davantage et aussi qu’ils
        disposent de plus de choix. Nous militons pour la création de syndicats de service, libres
        et indépendants ;
      </li>
      <li>
        Sur le plan défense des consommateurs, nous militons pour la création de class’action
        susceptibles de défendre facilement les consommateurs.
      </li>
    </ul>
    <p>
      Pour porter ces messages politiques, nous avons créé le collectif Laissez Faire les
      Français.
    </p>
  </section>
  <section></section>
</main>