<main>
  <section>
    <h1>
      Qui sommes nous ?
    </h1>
    <p>
      Nous sommes deux entrepreneurs individuels, indépendants.
    </p>
    <p>
      Nous avons imaginé Revendique.com comme un outil de mobilisation sociale et politique.
      L’épisode des Gilets Jaunes, s’est présenté comme l’occasion de concrétiser le projet.
    </p>
    <p>
      Notre objectif : apporter un service qui facilite la vie politique,
      démocratique, syndicale et associative de chaque internaute,
      quel que soit ses opinions, son statut professionnel ou social.
    </p>
  </section>
  <section class="dark">


    <h1>
      Revendique.com : juste un outil
    </h1>
    <p>
      De ce point de vue, <b>il est neutre</b> et permet à quiconque de s'exprimer
      quelle que soit l'orientation de ses opinions politiques ou son statut professionnel.
    </p>
    <p>
      Le site revendique.com a pour ambition d’aider les Français à <b>mieux exprimer leurs
        revendications afin de se faire entendre plus facilement</b>.
    </p>
    <p>
      Si ce paris fonctionne, alors il peut être une fantastique opportunité de transformation pour la société
      française : partant du modèle actuel, centralisé et à taille unique pour tous,
      et allant vers un modèle qui met l'individu, le citoyen, l'humain au coeur des décisions.
    </p>
  </section>
  <section></section>
</main>