<main>
  <section>
    <div class="center">
      <div class="frame">
        <h1>Activation du compte</h1>
        <div>
          <p>
            Un email a été envoyé à <b>{{email}}</b>. 
          </p>
          <ol>
            <li>Ouvrez votre boite à email et lisez le mail de notre site (revendique.com).</li>
            <li>Cliquez sur le lien d'activation qui vous est proposé.</li>
          </ol>
          <p>
            <a routerLink="/">Retour à la page d'accueil.</a>
          </p>
        </div>
      </div>
    </div>
  </section>
</main>