.jumbo {
    padding: 3rem;
    font-size: 1.5rem;
    text-align: center;
}

.gray {
    background: #eee;
}

@media only screen and (max-width: 960px) {
    .jumbo {
        padding: 1rem;
        font-size: 1.3rem;
        text-align: center;
    }
}