<main>
    <section class="jumbo">
        <div class="margin center">
            <h1>
                <span>Le bon coin de toutes les revendications.</span>
            </h1>
            <p>
                <button class="important" routerLink="/creer-revendication">Et vous, quelle est votre revendication ?</button>
            </p>
            <div class="video-container">
                <div class="iframe-container">
                    <iframe src="https://player.vimeo.com/video/311425953" class="video" webkitallowfullscreen
                        mozallowfullscreen allowfullscreen>
                    </iframe>
                </div>
            </div>

        </div>
    </section>
    <section>
        <div class="margin center">
            <h2>Les 5 dernières revendications - <a routerLink="/revendications">Voir toutes les revendications</a></h2>
            <app-revendication-list orderByUpdatedAt max="5"></app-revendication-list>
            <h2>Les 3 revendications avec le plus de soutiens</h2>
            <app-revendication-list mostLiked max="3"></app-revendication-list>
            <h2>2 revendications au hasard</h2>
            <app-revendication-list random max="2"></app-revendication-list>
        </div>
    </section>
    <section class="dark">
        <div class="margin">
            <h1>Créez des petites annonces pour vos revendications</h1>
            <p>
                Pour vendre un objet, vous créez une petite annonce sur le bon coin.
                Pour revendiquer vous faites comment&nbsp;?
            </p>
            <p>
                Revendique.com est le site spécialisé pour <b>mettre en valeur</b> vos revendications&nbsp;: <br>
                politique, travail, consommation, autre…
            </p>
            <p>
                Nous vous aidons à&nbsp;:
            </p>
            <ul>
                <li>
                    <b>publier</b> vos revendications&nbsp;;
                </li>
                <li>
                    <b>vous mettre en relation</b> avec des membres de
                    la communauté qui partagent les mêmes revendications que vous&nbsp;;
                </li>
                <li>
                    <b>faire connaître</b> aux décideurs (syndicats, politiques,
                    class-action, ONG, média, influents...) vos revendications.
                </li>
            </ul>
        </div>
    </section>
    <section>
        <div class="margin">
            <h1>Ils parlent de nous</h1>
            <div class="press">
                <div class="item">
                    <a target="_blank" href="https://www.contrepoints.org/2019/01/23/335399-revendique-com-vous-pouvez-desormais-revendiquer-en-toute-liberte">
                        <div class="container contrepoints"></div>
                        <div class="comment">Revendique.com : vous pouvez désormais revendiquer en toute liberté !</div>
                    </a>
                </div>
                <div class="item">
                    <a target="_blank" href="http://www.lecourrierdesstrateges.fr/2019/01/20/revendique-com-plate-forme-liberale-de-revendications/">
                        <div class="container strateges"></div>
                        <div class="comment">Le courrier des stratèges</div>
                    </a>
                </div>
                <div class="item">
                    <a href="#" onClick="MyWindow=window.open('https://podcast.rmc.fr/channel215/20181212_carrement_brunet_2.mp3','MyWindow','width=400,height=100'); return false;">
                        <div class="container rmc"></div>
                        <div class="comment">Interview d'un des membres fondateurs à la minute 21.</div>
                    </a>
                </div>
                <div class="item">
                    <a target="_blank" href="https://www.lopinion.fr/edition/politique/gilet-jaunes-qu-attend-on-lancer-bon-coin-revendication-syndicale-169704">
                        <div class="container opinion"></div>
                        <div class="comment">Gilet jaunes: qu’attend-on pour lancer Le Bon coin de la revendication
                            syndicale?</div>
                    </a>
                </div>

            </div>
        </div>
    </section>
    <section class="dark">
        <div class="margin">
            <h1>Je dépose ma revendication... et après ? </h1>

            <p>
                Revendique.com ambitionne de <b>trier et d'agréger</b> les revendications des Français.
            </p>

            <p>
                Ainsi nous pouvons fournir aux utilisateurs ou aux décideurs des informations pour connaître les
                tendances et soutenir les revendications.
            </p>
            <ul>
                <li>
                    Plus une revendication est populaire, plus elle a de chance d'être remarquée et prise en compte.
                </li>
                <li>
                    Plus une revendication est précise, plus elle a de chance d’être adressée au bon endroit.
                </li>
            </ul>
            <p>
                <b>Vous êtes décideur et vous voulez faire les bons choix ?</b>
            </p>
            <p>
                <a routerLink="/indicateurs">Notre « Indicateur » vous donne les tendances</a>
                pour mieux cibler les besoins et nous vous mettrons en relation avec les « Revendicateurs » afin que
                vous puissiez répondre à leurs demandes de manière précise.
            </p>
        </div>
    </section>
    <section>
        <div class="margin">
            <h1>Vos questions</h1>
            <h3>A quoi sert revendique.com ?</h3>
            <p>
                Revendique.com est une plateforme de mise en relation entre les revendicateurs et les décideurs.
                Notre objectif est d'améliorer la prise de décision.
            </p>


            <h3>
                Quelles différences avec Facebook&nbsp;?
            </h3>
            <p>
                Vous allez sur Facebook ou Twitter pour dialoguer et influencer votre communauté.
                Mais cela ne va pas plus loin. Aucun décideur n'entend parler de vous.
                Vous signez ou déposez une pétition en ligne sans être assurés de sa visibilité.
                Quand vous déposez une revendication sur Revendique.com, nous vous aidons pour qu'elle pèse
                auprès des décideurs concernés : Syndicats, politiques, etc.
            </p>
            <h3>
                Exemple ?
            </h3>
            <p>
                Vous êtes indépendant et vous déposez la revendication « Je veux avoir le droit de choisir
                mon assurance santé ».
                Notre indicateur se charge de regrouper des revendications similaires, et nous vous mettons
                en relation avec les syndicats d'indépendants susceptibles de répondre à votre demande (UNAPL, etc.)
                ainsi que des groupes d'influence déjà constitués (Page Facebook "Les libérés de la sécu", etc.)
            </p>
            <h3>Je ne suis pas entendu.</h3>
            <p>
                Nous vous aidons à créer vous-même votre groupe en vous mettant en relation
                avec les utilisateurs du site qui partagent votre revendication.
                Quand on est nombreux, on est plus entendus.
            </p>
            <h3>Nous ne sommes pas écoutés.</h3>
            <p>
                Nous sommes entrain de réaliser un autre outil,
                pour forcer à se faire écouter. A venir. Nous vous tenons informés.
            </p>
        </div>
    </section>


</main>