.jumbo {
    padding: 3rem;
    font-size: 3rem;
    text-align: center;
    font-weight: bolder;
}

@media only screen and (max-width: 960px) {
    .jumbo {
        padding: 1rem;
        font-size: 2rem;
        text-align: center;
        font-weight: bolder;
    }
}