<section class="jumbo">
    <h1>Le bon coin de toutes les revendications.</h1>
    <p>Et vous, quelle sera votre prochaine revendication ?</p>
    <button class="important" routerLink="/creer-revendication">J'exprime ma revendication.</button>
</section>
<section class="content">
    <h2>Les 5 dernieres revendications</h2>
    <app-revendication-list orderByUpdatedAt max="5"></app-revendication-list>
    <h2>Les 3 revendications avec le plus de soutien</h2>
    <app-revendication-list mostLiked max="3"></app-revendication-list>
    <h2>2 revendications au hasard</h2>
    <app-revendication-list random max="2"></app-revendication-list>
</section>