@import 'variables';
main {
    display: block;
    margin: 0;
    width: 100%;
    max-width: 100%;
    section {
        display: block;
        width: 100%;
        margin: 0;
        div.margin {
            display: block;
            margin: 0px auto;
            width: 100%;
            max-width: $maxWidth;
        }
    }
}

.jumbo {
    padding: 3rem;
    font-size: 1.5rem;
    text-align: center;
}

.press {
    display: flex;
    justify-content: space-around;

    .item {
        display: block;
        width: 100%;
        max-width: 22rem;
        background: $section-dark-bgcolor;
        a {
            display: block;
            padding: 1rem;
            div.container {
                width: 20rem;
                height: 12rem;
                &.rmc {
                    background-image: url("https://rmc.bfmtv.com/static/nxt-rmc/evenement/radio-brunet/img/partage.jpg");
                }
                &.opinion {
                    background-image: url("http://www.cbnews.fr/var/media/415/728x338/lopinion-414451.jpg");
                }
            }
            div.comment {
                width: 20rem;
                text-align: center;
            }
        }
    }
}

@media only screen and (max-width: 960px) {
    .jumbo {
        padding: 1rem;
        font-size: 1.3rem;
        text-align: center;
    }
}