<main>
    <section class="jumbo">
        <div class="margin">
            <h1>
                <a class="tagline" href="https://www.youtube.com/watch?v=XUoT78Xafas">
                    <span>Le bon coin de toutes les revendications.</span>
                    <fa-icon class="video" [icon]="faYoutube"></fa-icon>
                </a>
            </h1>
            <p>Et vous, quelle sera votre prochaine revendication ?</p>
            <button class="important" routerLink="/creer-revendication">J'exprime ma revendication.</button>
        </div>
    </section>
    <section>
        <div class="margin">
            <h2>Les 5 dernières revendications</h2>
            <app-revendication-list orderByUpdatedAt max="5"></app-revendication-list>
            <h2>Les 3 revendications avec le plus de soutiens</h2>
            <app-revendication-list mostLiked max="3"></app-revendication-list>
            <h2>2 revendications au hasard</h2>
            <app-revendication-list random max="2"></app-revendication-list>
        </div>
    </section>
    <section class="dark">
        <div class="margin">
            <h1>Créez une petite annonce pour vos revendications</h1>
            <p>
                Pour vendre un objet, vous créez une petite annonce sur le bon coin.
                Pour revendiquer vous faites comment ?
            </p>
            <p>
                Revendique.com est le site spécialisé pour <b>mettre en valeur</b> vos revendications&nbsp;: <br>
                politique, travail, consommation, autre…
            </p>
            <p>
                Nous faisons tout pour :
            </p>
            <ul>
                <li>
                    <b>publier</b> vos revendications ;
                </li>
                <li>
                    <b>les faire connaître</b> des décideurs :
                    syndicats, politiques, class-action, ONG, média, influents... ;
                </li>
                <li>
                    <b>vous mettre en relation</b> avec des membres de
                    la communauté qui partagent les mêmes revendications que vous.
                </li>
            </ul>
        </div>
    </section>
    <section>
        <div class="margin">
            <h1>Ils parlent de nous</h1>
            <div class="press">
                <div class="item">
                    <a href="#" onClick="MyWindow=window.open('https://podcast.rmc.fr/channel215/20181212_carrement_brunet_2.mp3','MyWindow','width=400,height=100'); return false;">
                        <div class="container rmc"></div>
                        <div class="comment">Interview d'un des membres fondateurs à la minute 21.</div>
                    </a>
                </div>
                <div class="item">
                    <a target="_blank" href="https://www.lopinion.fr/edition/politique/gilet-jaunes-qu-attend-on-lancer-bon-coin-revendication-syndicale-169704">
                        <div class="container opinion"></div>
                        <div class="comment">Gilet jaunes: qu’attend-on pour lancer Le Bon coin de la revendication
                            syndicale?</div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="dark">
        <div class="margin">
            <h1>Indicateur : connaître les tendances et soutenir les revendications</h1>
            <p>
                Vous êtes décideurs et vous voulez faire les bons choix ?
            </p>
            <p>
                Revendique.com <b>agrège et trie</b>
                les revendications des Français.
            <br>
                Notre « Indicateur » vous donne les tendances pour
                mieux cibler les besoins. 
             <br>   
                Nous vous <b>mettons en relation avec les « Revendicateurs »</b> afin
                que vous puissiez répondre à leurs demandes (en savoir plus).
            </p>
        </div>
    </section>


</main>