@import 'variables';
:host {
    display: block;
    color: $footer-color;
    background: $footer-bgcolor;
}

footer {
    display: flex;
    margin: 0px auto;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: $maxWidth;
    height: $footer-height;
    
    a {
        text-decoration: none;
        color: $footer-color;
        &:hover {
            color: $footer-color-small-relief;
        }
    }
}