@import 'variables';
:host {
    display: block;
    background: #ccc;
}

footer {
    display: flex;
    margin: 0px auto;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: $maxWidth;
    height: $footer-height;
    
    a {
        text-decoration: none;
        color: black;
    }
}