<div>
  <ul class="table">
    <li class="row" *ngFor="let r of revendications | async">
      <a [routerLink]="getLink(r)">
        <div class="first-line">
          <b class="title">
            <fa-icon class="icon" [icon]="faBullhorn"></fa-icon> {{r.title}}
          </b>
          <span>
            {{r.author}}
          </span>
        </div>
        <div class="second-line">
          <i>{{r.content | excerpt}}</i>
          <span>{{r.category}} - {{r.createdAt.toDate() | date : 'short'}}</span>
        </div>
      </a>
      <div class="third-line">
        <a (click)="like(r)" class="command like ">
          <fa-icon [icon]="faThumbsUp"></fa-icon>
          <span>{{r.likes | async }}</span>
        </a>
        <a (click)="share(r)" class="command">
          <fa-icon [icon]="faShare"></fa-icon>
          <span>Partage</span> 
        </a>
        <a (click)="dislike(r)" class="command dislike ">
          <fa-icon [icon]="faThumbsDown"></fa-icon>
          <span>{{r.dislikes | async }}</span>
        </a>
        
      </div>
    </li>
  </ul>
</div>