@import 'variables';

button.social-login {
    display: block;
    width: 100%;
    background-color: hsl(0, 0%, 40%);
    padding: 0.8rem;
    margin: 1rem 0;
    fa-icon {
        font-size: 1.5rem;
        padding: 1rem;
    }
    &.google {
        background-color: #dd4b39;
    }
    &.facebook {
        background-color: #3C5A99;
    }
    >span {
        display: inline-block;
        text-align: left;
        width: 18rem;
    }
}

label {
    display: block;
    width: 100%;
    margin-top: 1rem;
    font-weight: bold;
}

input {
    display: block;
    width: 100%;
}

.submit {
    margin-top: 1rem;
    text-align: right;
}
