<div class="center">
  <div class="frame">
    <h1>Connexion</h1>
    <div class="center"><button class="shadow">Créer un compte</button></div>
    <app-divider>ou</app-divider>
    <button class="social-login google">
     <span><fa-icon [icon]="faGoogle"></fa-icon> Connexion avec Google</span> 
    </button>
    <button class="social-login facebook">
      <span><fa-icon [icon]="faFacebook"></fa-icon> Connexion avec Facebook</span>
    </button>
    <app-divider>ou</app-divider>
    Connexion avec un compte existant :
    
    <app-login-form></app-login-form>
    
  </div>
</div>