button, .button {
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: $border-radius;
    color: $button-color;
    border: 1px solid $button-bgcolor;
    background: $button-bgcolor;
    cursor: pointer;
    &:hover {
        background: lighten($button-bgcolor, 30%);
    }
    &.shadow {
        background: transparent;
        color: $button-bgcolor;
        font-weight: bold;
        border: none;
        &:hover {
            background: hsl(0, 0%, 98%);
            color: lighten($button-bgcolor, 30%);
        }
    }
    &.secondary {
        background: transparent;
        color: $button-bgcolor;
        border: 1px solid $button-bgcolor;
        &:hover {
            background: hsl(0, 0%, 98%);
            color: lighten($button-bgcolor, 30%);
        }
    }
    &.danger {
        border: 1px solid red;
        background: red;
    }
    &[disabled] {
        background-color: #eee;
        border: 1px solid #eee;
    }
    &.important {
        border: 1px solid $button-important-bgcolor;
        background: $button-important-bgcolor;
        &:hover {
            border: 1px solid $button-important-bgcolor-hover;
            background: $button-important-bgcolor-hover;
            box-shadow: 0px 0px 5px 1px #ddd;
        }
        &:active {
            border: 1px solid $button-important-bgcolor-hover;
            background: $button-important-bgcolor-hover;
            box-shadow: 0px 0px 1px 1px #eee;
        }
    }
}

[routerlink] {
    cursor: pointer;
}





