button,
.button {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: $border-radius;

    color: $button-color;

    border: 1px solid $button-important-bgcolor;
    background: $button-important-bgcolor;
    &:hover {
        border: 1px solid $button-important-bgcolor-hover;
        background: $button-important-bgcolor-hover;
        box-shadow: 0px 0px 5px 1px #ddd;
    }
    &:active {
        border: 1px solid $button-important-bgcolor-hover;
        background: $button-important-bgcolor-hover;
        box-shadow: 0px 0px 1px 1px #eee;
    }

    
    &.shadow {
        background: transparent;
        color: $button-shadow-bgcolor;
        font-weight: bold;
        border: none;
        &:hover {
            color: $button-shadow-bgcolor;
            box-shadow: 0px 0px 3px 1px hsl(0, 0%, 95%);
        }
    }
    &.secondary {
        background: transparent;
        color: $button-bgcolor;
        border: 1px solid $button-bgcolor;
    }
    &.danger {
        border: 1px solid $button-danger-bgcolor;
        background: $button-danger-bgcolor;
    }
    &[disabled] {
        background-color: #ddd;
        border: 1px solid #ddd;
        &:hover {
            box-shadow: none;
        }
    }
}

[routerlink] {
    cursor: pointer;
}