button, .button {
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    color: $color;
    border: 1px solid $color;
    background: $bgcolor;
    &:hover {
        background: lighten($bgcolor, 30%);
    }
    &.shadow {
        background: transparent;
        color: $bgcolor;
        font-weight: bold;
        &:hover {
            background: hsl(0, 0%, 98%);
            color: lighten($bgcolor, 30%);
        }
    }
}

input {
    padding: 0.5rem 1rem;
    border-radius: 6px;
    border: 2px solid hsl(0, 0%, 90%);
    &:focus {
        border: 2px solid hsl(0, 0%, 50%);
    }
}


