form {
    display: block;
    width: 100%;
}

input {
    display: block;
    width: 100%;    
    padding: 0.5rem 1rem;
    border-radius: 6px;
    border: 2px solid hsl(0, 0%, 90%);
    &:focus {
        border: 2px solid hsl(0, 0%, 50%);
    }
}

label {
    display: block;
    width: 100%;
    margin-top: 1rem;
}

.error-block {
    display: block;
    height: 3rem;
    min-height: 3rem;
}

.error-incorrect {
    padding-top: 1rem;
    font-weight: bold;
    color: red;
}

.submit {
    text-align: right;
}

.reset-submit {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

label .ng-invalid.ng-touched {
    background-color: hsl(0, 100%, 90%)
}

label .ng-valid.ng-touched {
    background-color: hsl(120, 100%, 90%)
}

app-password.ng-invalid.ng-touched {
    input {
        background-color: hsl(0, 100%, 90%);
    }
}

app-password.ng-valid.ng-touched {
    input {
        background-color: hsl(120, 100%, 90%);
    }
}