main {
    display: block;
    margin: 0px auto;
    width: 100%;
    max-width: $maxWidth;
    min-height: $body-height;
    text-align: center;
}

section {
    display: block;
    text-align: left;
    padding: 1rem;
    &.dark {
        background: $section-dark-bgcolor;
    }
}