* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    -webkit-appearance: none; // fix the problem of input with shadow on Safari.
}

// disable the chrome blue line when focus
*:focus {
    outline: 0;
}

html {
    width: 100%;
    height: 100%;
    overflow-x: hidden; // avoid horizontal scrolling on mobile.
    min-width: 320px; // avoid to manage the case with smaller size.
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    width: 100%;
    height: 100%;
}

p {
    padding: 0.5rem 0;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding-top: 2rem;
    padding-bottom: 0.5rem;
}

b, strong {
    font-weight: bold;
}

