$header-color: white;
$header-bgcolor: hsl(0, 0%, 20%);
$header-color-relief: hsl(150, 50%, 50%);
$header-color-small-relief: hsl(150, 50%, 90%);

$color: white;
$bgcolor: blue;
$maxWidth: 1180px;

$border-radius: 6px;

$footer-height: 3rem;
$header-height: 3rem;
$body-height: calc(100% - 6rem);
