$hue: 200;

$header-color: white;
$header-bgcolor: hsl(0, 0%, 20%);
$header-color-relief: hsl($hue, 80%, 60%);
$header-color-small-relief: hsl($hue, 100%, 90%);
$header-color-flash: hsl($hue, 100%, 60%);

$footer-color: $header-color;
$footer-bgcolor: hsl(0, 0%, 20%);
$footer-color-small-relief: $header-color-small-relief;

$button-color: white;
$button-bgcolor: $header-color-relief;
$button-bgcolor-hover: darken($button-bgcolor, 10);
$button-important-bgcolor: $header-color-flash;
$button-important-bgcolor-hover: darken($button-important-bgcolor, 10);
$button-shadow-bgcolor: hsl($hue, 100%, 25%);
$button-danger-bgcolor: hsl(15, 65%, 55%);

$dialog-bgcolor: hsl($hue, 100%, 40%);

$section-dark-bgcolor: hsl($hue, 100%, 98%);

$li-color: hsl($hue, 100%, 25%);

$placeholder-color: hsl(0, 0%, 80%);

$like-color: hsl($hue, 100%, 60%);
$dislike-color: hsl(15, 100%, 60%);

$color: white;
$bgcolor: blue;
$maxWidth: 1180px;

$border-radius: 6px;

$footer-height: 3rem;
$header-height: 3rem;
$body-height: calc(100% - 6rem);
