<div class="center">
  <div class="frame">
    <div>
      <app-password-forgotten-form></app-password-forgotten-form>
    </div>
    <div>
      <ol>
        <li>Vous allez recevoir un e-mail avec un lien qui sera <b>valide 24 heures</b>.</li>
        <li>En cliquant sur ce lien vous arriverez sur une nouvelle page où vous pourrez choisir <b>votre nouveau mot de
            passe</b>.</li>
        <li>Une fois ce nouveau mot de passe validé, vous serez connecté(e) à votre compte utiliser le site.</li>
      </ol>
    </div>
  </div>
</div>